.contenedor-semestres {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow-x: auto;
}

.semestre-vertical {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ede6f2;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 220px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.semestre-vertical h2 {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #5e3c53;
}
